<h1>User Details</h1>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Status:</strong>
  <%= @user.active ? 'Active' : 'Inactive' %>
</p>
<% if @user.manager? %>
  <p>
    <strong>Role:</strong> Manager
  </p>
<% else %>
  <p>
    <strong>Role:</strong> Regular User
  </p>
<% end %>
<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back to Users List', admin_users_path %>