<%= render 'shared/profile_modal' %>
<h3 class="mb-3">Assigned Projects</h3>
<% if @projects.any? %>
  <ul class="list-group">
    <% @projects.each do |project| %>
      <li class="list-group-item d-flex justify-content-between">
        <div>
          <strong><%= project.title %></strong><br>
          <span class="text-muted">
          Assigned Users: <%= project.users.map { |user| user.first_name.present? ? "#{user.first_name} #{user.last_name}" : user.email }.join(", ") %>
          </span><br>
          <span class="text-muted">
          Assigned By: <%= project.manager&.first_name.present? ? "#{project.manager.first_name} #{project.manager.last_name}" : project.manager&.email %>
          </span>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No projects assigned to you.</p>
<%end%>
